<div fxLayout="column" fxFlex="100%" fxLayoutAlign="space-between stretch" class="full-height">
  <header>
    <mat-toolbar color="primary">
      <mat-toolbar-row fxLayoutAlign="space-between center">
        <chronos-title></chronos-title>
        <span style="font-size: 200%">🕒</span>
      </mat-toolbar-row>
    </mat-toolbar>
  </header>

  <div fxFlex="grow" fxLayoutAlign="space-around" fxLayout="column">
    <chronos-timer></chronos-timer>
    <chronos-controls></chronos-controls>
    <chronos-options></chronos-options>
    <!-- <router-outlet></router-outlet> -->
  </div>

  <footer>
    <mat-toolbar color="primary">
      <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
        <span fxLayoutAlign="space-between center">
          <mat-icon>label</mat-icon>&nbsp;
          <a href="https://github.com/juracy/chronos" target="_blank">
            {{version}}
          </a>
        </span>
        <a href="https://www.twitter.com/juracy_filho" target="_blank">
          Juracy Filho
        </a>
      </mat-toolbar-row>
    </mat-toolbar>
  </footer>
</div>
