<div fxLayoutAlign="space-around center">
  <button
    mat-button
    [disabled]="(timer | async)?.running"
    (click)="newMultiplier(1/300)">Test</button>

  <button
    mat-button
    [disabled]="(timer | async)?.running"
    (click)="newMultiplier(1/2)">Half</button>

  <button
    mat-button
    [disabled]="(timer | async)?.running"
    (click)="newMultiplier(1)">Full</button>

  <button
    mat-button
    [disabled]="(timer | async)?.running"
    (click)="newMultiplier(2)">Double</button>

  <mat-slide-toggle [checked]="sound | async" (change)="changeSound($event)">Alarme habilitado?</mat-slide-toggle>
</div>


