<div fxLayoutAlign="space-around center">

  <mat-button-toggle-group [disabled]="(timer | async)?.running" (change)="newMultiplier($event.value)" [value]="1">
    <mat-button-toggle [value]="1/300">
      »
    </mat-button-toggle>
    <mat-button-toggle [value]="1/2">
      ½
    </mat-button-toggle>
    <mat-button-toggle [value]="1">
      1×
    </mat-button-toggle>
    <mat-button-toggle [value]="2">
      2×
    </mat-button-toggle>
  </mat-button-toggle-group>

  <mat-slide-toggle [checked]="sound | async" (change)="changeSound($event)">Alarme habilitado?</mat-slide-toggle>
</div>


